h1 {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px, 20px;
}
p {
    color: darkgoldenrod;
}
ul {
    color: darkviolet;
}
li {
    color: darkslategray;
}

.class{

}

#id {

}
