h1 {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px, 20px;
}

p {
    color: rgb(255, 255, 255);
}

ul {
    color: rgb(255, 255, 255);
}

li {
    color: rgb(255, 255, 255);
}

hr {
    height: 3px;
    border: none;
    background-color: crimson;
}

body {
    background-image: url(pink_background.jpg);
    /* background-image: pink_background.jpg; */
    background-size: auto;
    background-repeat: repeat;
}


.class{

}

#id {

}

